/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
    /* color: red; */
    border: none;
    outline: none;
}

li:hover {
	color: #B1663C;
}

/* virer le bleu et le soulignement des liens dans la nav */
nav ul li a {
    text-decoration: none; /* Enlève le soulignement */
    color: black; /* Met la couleur de la police en noir */
}

nav ul li a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol si vous le souhaitez */
}




#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:disabled {
    cursor: not-allowed;
    background: #A7A7A7;
    padding: 8px 24px;
    border-radius: 60px;
    border: none;

}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-top: 24em;   /* ajustez la marge supérieure */
	margin-right: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
}

/*mes boutons des différentes catégories */
/* Styles généraux pour centrer et espacer les boutons */
/* Centrage global des catégories et espacement */
#portfolio {
    display: flex; 
    justify-content: center; /* Centrage horizontal des éléments enfants */
    align-items: center; /* Centrage vertical des éléments enfants */
    gap: 10px; /* Espacement entre chaque bouton */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante s'ils ne tiennent pas */
    margin-top: 20px; /* Espacement supérieur pour séparer des autres éléments */
    margin-bottom: 20px; /* Espacement inférieur pour séparer des autres éléments */
}

/* Styles spécifiques pour chaque bouton de catégorie */

.categories {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Espace entre les boutons */
}

#portfolio h2 {
    text-align: center;
    width: 100%;
	margin-top: 30px;
    /* ajoutez d'autres styles si nécessaire */
}


.category {
	display: block;
    padding: 10px 20px;
    border: 1px solid #1D6154;
    margin: 40px 10px 40px 10px; /* marge: haut droite bas gauche; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Syne';
    font-weight: 700;
    border-radius: 25px;
    text-align: center;
	color: #1D6154;
    background-color: transparent;
}

.category:hover {
    background-color: #1D6154;
    color: white;
}



/*ma page login */
/* Styles pour la page de connexion */
#loginForm {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

#loginForm label {
    display: block;
    margin-bottom: 8px;
    color: #1D6154; /* Utilisation de la couleur que vous avez spécifiée pour h2 */
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#loginForm h1 {
    color: #B1663C; /* Utilisation de la couleur que vous avez spécifiée pour h1 */
    text-align: center;
    margin-bottom: 20px;
}

#loginForm h2 {
    font-size: 36px;  /* Pour augmenter la taille de la police */
    text-align: center; /* Pour centrer le titre */
    margin-bottom: 20px; /* Pour ajouter un espace entre le titre et le champ email */
    color: #1D6154;  /* Utilisation de la couleur que vous avez spécifiée pour h2 */
    font-family: 'Syne'; /* Si vous voulez utiliser une police spécifique */
    font-weight: 700; 
}

#loginForm button {
    background-color: #1D6154;
    color: white;
    padding: 10px 40px; /* J'ai augmenté le padding à droite et à gauche pour avoir plus d'espace sur les côtés */
    border: none;
    display: block; /* le bouton devient un élément de bloc pour permettre le centrage avec margin */
    margin: 0 auto; /* centrage horizontal */
    border-radius: 50px; /* arrondi sur tous les côtés */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Syne';
    font-weight: 700;
}


#loginForm button:hover {
    background-color: #13493b; /* Une nuance plus foncée de la couleur du bouton */
}

#loginForm a {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
    color: #666;
    text-decoration: underline;
}

/*mettre un peu de couleur pour la reinitialisation du mot de passe */
/* Styles spécifiques pour la page de réinitialisation de mot de passe */
.reset-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.reset-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1D6154;
}

.reset-container p {
    margin-bottom: 20px;
}

.reset-container label {
    display: block;
    margin-bottom: 8px;
    color: #1D6154;
}

.reset-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.reset-container button {
    width: 100%;
    padding: 10px 15px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Syne';
}

.reset-container button:hover {
    background-color: #13493b;
}

.reset-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #666;
    text-decoration: none;
}

.reset-container a:hover {
    text-decoration: underline;
}

.btn-update{
	display: none;
	margin-left : 16px;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.416);
    left:0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-delete, .modal-add{
    background-color: white;
    width: 630px;
    min-height: 300px;
    border-radius: 20px;
    z-index: 20;
}

.modal-add {
    display: none;
}

.btn-update {
	display: none;
	margin-left: 16px;
	font-size: x-small;
	color: black;
	
}

.petite-croix {
    display: flex;
    justify-content: flex-end;
  }

  .fa-times {
	font-weight: 900;
	padding-right: 20px;
	padding-top: 30px;
	color: black;
}

.modal h2{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
      
}

.modal h2 {
	display: flex;
	justify-content: center;
	margin: 20px 0 50px 0;
	font-size: 14px;
	color: black;
	font-weight: lighter;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    /*padding: 0 32px;*/
    padding: 20px 40px 50px 40px
}

.work-item {
    position: relative;
}

.work-item img {
    width: 100%;
}

.content-btn-delete {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.content-btn-delete i {
    color: white;
}

.content-image {
    background: #E8F1F6;
    text-align: center;
    height: 169px;
    margin-bottom: 16px;
}

#preview {
    max-width: 129px;
    max-height: 169px;
}

label[for="image"] {
    background-color: #CBD6DC;
	border-radius: 2em;
	padding: 10px 33px;
	cursor: pointer;
    color: #306685;
}

.content-input-image {
    padding-top: 20px;
}
#image {
    display: none;
}

.content-input-image p {
    padding-top: 20px;
}

#title {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px 0px #00000017;
    border: none;
    height: 51px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.modal-add h2 {
    text-align: center;
}

.form-add {
    padding: 0 32px;
}
 #category {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px 0px #00000017;
    border: none;
    height: 51px;
    padding: 8px;
    margin-top: 16px;
 }

 .content-submit {
    text-align: center;
 }

 .btn-save {
    border: none;
    border-radius: 60px;
    padding: 8px 24px;
 }

 .content-icon {
    display: flex;
    justify-content: space-between;

 }

 .back {
    display: flex;
  }

  .fa-arrow-left {
	font-weight: 900;
	padding-left: 20px;
	padding-top: 30px;
	color: black;
}

.modal-add h2, .modal-delete h2 {
    color: black;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}



.content-btn-add {
    border-top: 1px solid #B3B3B3;
    padding-top: 16px;
    margin: 20px 32px;
    text-align: center;
}

.add {
    background-color: #1D6154;
    color: white;
    padding: 8px 24px;
    border-radius: 60px;
    border: none;
}

.fa-edit {
    margin-right: 8px;
}

#portfolio > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mon bouton logout pour sortir du programme
#logoutBtn{
    display: none;
}*/

#loginBtn {
    border: none;
    outline: none; /* Pour supprimer le contour qui peut apparaître lorsqu'il est cliqué ou concentré */
}

.login-btn {
    border: none;
    outline: none; /* Pour supprimer le contour qui peut apparaître lorsqu'il est cliqué ou concentré */
}
